In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("health_expenditure_per_capita.csv")
df.dropna(inplace=True)

In [3]:
df.sort_values("International Dollar Per Capita (PPP)", ascending=False).head(20)

            Country  International Dollar Per Capita (PPP)
179   United States                                10600.0
30      Switzerland                                 8110.0
128          Norway                                 6820.0
44          Germany                                 6100.0
103      Luxembourg                                 6050.0
78          Ireland                                 5900.0
9           Austria                                 5880.0
160          Sweden                                 5830.0
47          Denmark                                 5790.0
127     Netherlands                                 5630.0
12          Belgium                                 5400.0
58           France                                 5250.0
29           Canada                                 5200.0
81          Iceland                                 5110.0
8         Australia                                 5000.0
61   United Kingdom                                 4620.0
86            Japan                                 4500.0
56          Finland                                 4460.0
149       Singapore                                 4440.0
153      San Marino                                 4340.0

In [4]:
df.sort_values("International Dollar Per Capita (PPP)").head(20)

                      Country  International Dollar Per Capita (PPP)
35           Congo, Dem. Rep.                                   30.7
11                    Burundi                                   65.8
55                   Ethiopia                                   66.6
52                    Eritrea                                   73.7
124                     Niger                                   78.0
164                      Chad                                   79.0
108                Madagascar                                   79.1
65                     Gambia                                   80.8
13                      Benin                                   83.2
113                      Mali                                   90.0
28   Central African Republic                                   97.0
138          Papua New Guinea                                  101.0
97                    Liberia                                  103.0
150           Solomon Islands                                  108.0
165                      Togo                                  109.0
184                   Vanuatu                                  109.0
64                     Guinea                                  109.0
15                 Bangladesh                                  110.0
14               Burkina Faso                                  112.0
175                  Tanzania                                  112.0

In [5]:
coviddf = pd.read_csv("JHcovid12-31-2020.csv")
grouped = coviddf.groupby("Country_Region").sum()
grouped_filtered = grouped[(grouped["Case_Fatality_Ratio"] > 0.5) & (grouped["Case_Fatality_Ratio"] < 3)]
grouped_filtered.sort_values("Confirmed").head(50)

,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
Country_Region,,,,,,,,,
Brunei,0.0,4.535300,114.727700,157,3,149,5.0,35.887109,1.910828
Saint Lucia,0.0,13.909400,-60.978900,353,5,289,59.0,192.235431,1.416431
Barbados,0.0,13.193900,-59.543200,383,7,319,57.0,133.277192,1.827676
Mauritius,0.0,-20.348404,57.552152,527,10,496,21.0,41.438408,1.897533
Diamond Princess,0.0,0.000000,0.000000,712,13,699,0.0,0.000000,1.825843
Papua New Guinea,0.0,-6.314993,143.955550,780,9,661,110.0,8.717980,1.153846
Taiwan*,0.0,23.700000,121.000000,799,7,671,121.0,3.354778,0.876095
Comoros,0.0,-11.645500,43.333300,823,10,705,108.0,94.641759,1.215067
Sao Tome and Principe,0.0,0.186400,6.613100,1014,17,971,26.0,462.673560,1.676529
Vietnam,0.0,14.058324,108.277199,1465,35,1325,105.0,1.505056,2.389078
Liechtenstein,0.0,47.140000,9.550000,2136,39,1810,287.0,5600.860057,1.825843
New Zealand,0.0,-62.137300,15.108300,2162,25,2082,55.0,44.834001,1.156337
San Marino,0.0,43.942400,12.457800,2333,59,2042,327.0,7154.222406,2.429984
Guinea-Bissau,0.0,11.803700,-15.180400,2452,45,2397,10.0,124.593623,1.835237
Sierra Leone,0.0,8.460555,-11.779889,2611,76,1892,643.0,32.731665,2.910762
Lesotho,0.0,-29.610000,28.233600,3094,51,1480,1563.0,144.427453,1.648352
Benin,0.0,9.307700,2.315800,3251,44,3061,146.0,26.816357,1.353430
South Sudan,0.0,6.877000,31.307000,3558,63,3131,364.0,31.785654,1.770658
Togo,0.0,8.619500,0.824800,3633,68,3393,172.0,43.883505,1.871731
Somalia,0.0,5.152149,46.199616,4714,130,3612,972.0,29.660448,2.757743
Central African Republic,0.0,6.611100,20.939400,4963,63,1924,2976.0,102.758644,1.269394
Equatorial Guinea,0.0,1.650800,10.267900,5277,86,5136,55.0,376.126616,1.629714
Iceland,0.0,64.963100,-19.020800,5754,29,5578,147.0,1686.153846,0.503997
Djibouti,0.0,11.825100,42.590300,5831,61,5728,42.0,590.180992,1.046133
Nicaragua,0.0,12.865416,-85.207229,6046,165,4225,1656.0,91.266521,2.729077
Suriname,0.0,3.919300,-56.027800,6210,122,5731,357.0,1058.581671,1.964573
Guyana,0.0,4.860416,-58.930180,6332,164,5820,348.0,805.025434,2.590019
Malawi,0.0,-13.254300,34.301500,6583,189,5705,689.0,34.411999,2.871031
Burkina Faso,0.0,12.238300,-1.561600,6707,85,5100,1522.0,32.085877,1.267333
Congo (Brazzaville),0.0,-0.228000,15.827700,7107,108,5846,1153.0,128.794518,1.519629
Trinidad and Tobago,0.0,10.691800,-61.222500,7150,127,6650,373.0,510.900034,1.776224
Thailand,0.0,15.870032,100.992541,7163,63,4273,2827.0,10.262181,0.879520
Bahamas,0.0,25.025885,-78.035889,7871,170,6230,1471.0,2001.535926,2.159827
Andorra,0.0,42.506300,1.521800,8049,84,7432,533.0,10417.394681,1.043608
Rwanda,0.0,-1.940300,29.873900,8383,92,6542,1749.0,64.722550,1.097459
Eswatini,0.0,-26.522500,31.465900,9358,205,7073,2080.0,806.610100,2.190639
Gabon,0.0,-0.803700,11.609400,9571,64,9388,119.0,430.016606,0.668687
Haiti,0.0,18.971200,-72.285200,9999,236,8624,1155.0,87.831362,2.356465
Belize,0.0,17.189900,-88.497600,10776,248,9795,733.0,2710.118429,2.301411
Cabo Verde,0.0,16.538800,-23.041800,11840,113,11559,168.0,2129.542364,0.954392
Cuba,0.0,21.521757,-77.781167,11863,146,10125,1592.0,104.735607,1.230717
Malta,0.0,35.937500,14.375400,12774,219,11121,1434.0,2893.062674,1.714420
Jamaica,0.0,18.109600,-77.297500,12827,302,10383,2142.0,433.174691,2.354409
Tajikistan,0.0,38.861000,71.276100,13665,90,12851,355.0,139.405526,0.676895
Guinea,0.0,9.945600,-9.696600,13722,81,13141,500.0,104.486540,0.590293
Zimbabwe,0.0,-19.015438,29.154857,13867,363,11250,2254.0,93.299254,2.617726
Mauritania,0.0,21.007900,-10.940800,14364,347,11380,2637.0,308.925814,2.415762
Angola,0.0,-11.202700,17.873900,17553,405,11044,6104.0,53.407342,2.307298
Madagascar,0.0,-18.766947,46.869107,17714,261,17228,225.0,63.970199,1.473411
Mozambique,0.0,-18.665695,35.529562,18642,166,16663,1813.0,59.644027,0.890462

In [6]:
life_expectancy_df = pd.read_csv("life_expectancy_data.csv")
life_expectancy_df.sort_values("2019", ascending=False).head(20)

             Country Name       2019
96   Hong Kong SAR, China  85.078049
119                 Japan  84.356341
146      Macao SAR, China  84.244000
37            Switzerland  83.704878
208             Singapore  83.497561
70                  Spain  83.485366
126           Korea, Rep.  83.226829
116                 Italy  83.197561
38        Channel Islands  83.086000
137         Liechtenstein  83.041463
223                Sweden  82.958537
177                Norway  82.907317
13              Australia  82.900000
115                Israel  82.804878
78          Faroe Islands  82.746341
159                 Malta  82.600000
77                 France  82.578049
114               Iceland  82.560976
144            Luxembourg  82.446341
111               Ireland  82.302439

In [7]:
vaccine_df = pd.read_csv("vccine_imptn_dag.csv")
vaccine_df.sort_values("Total")

                country  2015  2018  Total
34   Dominican Republic   NaN   0.1    0.1
140           Venezuela   NaN   0.1    0.1
73                  Lao   NaN   0.2    0.2
37                Egypt   NaN   0.3    0.3
53             Honduras   NaN   0.3    0.3
..                  ...   ...   ...    ...
6               Austria   9.6  11.8   21.4
43               France  11.7   9.8   21.5
7            Azerbaijan  13.9   8.3   22.2
64                Italy  14.7   8.2   22.9
114              Russia  16.0   9.5   25.5

[146 rows x 4 columns]

In [22]:
obesity_df = pd.read_csv("prevalence_of_obesity.csv")
obesity_df["Obesity %"].str.replace("No data")
# obesity_df['Obesity %'] = float(obesity_df['Obesity %'].str.split(' ').str[0])

# obesity_df.sort_values("Obesity %", ascending=True)

                                Country         Obesity %
0                           Afghanistan     5.5 [3.4-8.1]
1                               Albania  21.7 [17.0-26.7]
2                               Algeria  27.4 [22.5-32.7]
3                               Andorra  25.6 [20.1-31.3]
4                                Angola    8.2 [5.1-12.2]
..                                  ...               ...
190  Venezuela (Bolivarian Republic of)  25.6 [21.3-30.2]
191                            Viet Nam     2.1 [1.4-3.1]
192                               Yemen  17.1 [13.3-21.3]
193                              Zambia    8.1 [5.8-10.7]
194                            Zimbabwe  15.5 [12.0-19.2]

[195 rows x 2 columns]